pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "MyLookup",
				"description": "Lookup Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlogs]"
					},
					"dataset": {
						"referenceName": "ADLAzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MyLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MyLookup').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetVariablePath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetVariableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobPath",
								"value": {
									"value": "@{item().Path}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"BlobName": {
				"type": "String"
			},
			"BlobPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}